* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    width: 100%; 
    background-color: darkgray;
    padding: 1rem;
}
nav {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 2.5rem;
    font-weight: 100;
    color: rgba(138, 106, 46, 0.537);
}
.nav-list {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.nav-list li {
    list-style:none
}
.nav-list li a{
    text-decoration: none;
    color: aliceblue;
}
section{
    padding: 6rem 0;
}
.box {
    padding: 1rem;
}
h2 {
    color: rgb(193, 155, 85);
    margin-left: 1rem;
    font-size: 2rem;
}
.flex {
    display: flex;
    align-items: center;
}
.flex > * {
    margin-left: 9px;
}